.play-container {
  margin: 1em;
}

.play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.play-area-lower {
  display: flex;
  align-items: flex-start;
}

.col-label {
  width: 12em;
  text-align: center;
}

.row-label {
  height: 12em;
  width: 12em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.fighter-display {
  width: 90%;
  height: 90%;
  text-align: center;
  font-size: 1em;
}

.fighter-img {
  width: 100%;
  height: auto;
}

.grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  border-style: solid;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  height: 12em;
  width: 12em;
  border-style: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell-hover:hover {
  background-color: rgb(231, 231, 231);
}

.select-fighter-text {
  font-size: 0.8em;
  color: lightgray;
}

.cell-correct {
  background-color: #68ec89;
  opacity: 50%;
}

.cell-incorrect {
  background-color: #ec6868;
  opacity: 50%;
}

@media (max-width: 600px) {
  .col-label {
    width: 7em;
  }

  .row-label {
    height: 7em;
    width: 7em;
  }

  .cell {
    height: 7em;
    width: 7em;
  }

  .select-fighter-text {
    font-size: 0.4em;
  }

  .fighter-display {
    font-size: .4em;
  }
}