.play-container {
  margin: 1em;
}

.play-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.play-area-lower {
  display: flex;
  align-items: flex-start;
}

.col-label {
  width: 12em;
  text-align: center;
}

.grid {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
}

.row-label {
  height: 12em;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  height: 12em;
  width: 12em;
  border-style: solid;
}